/*Google Font lexend*/
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Lexend, sans-serif;
}

h1 {
    text-align: center;
    color: #333;
}

p {
    text-align: center;
    color: #666;
}

.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.team-member {
    flex: 1 1 30%;
    margin: 10px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
}

.team-member h3 {
    color: #333;
}

.team-member p {
    color: #777;
}
