/*Google Font lexend*/
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');


/*Wildcard selector*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General Styles*/
body {
    min-height: 100vh;
    letter-spacing: 1px;
    line-height: 27px;

    /*Generic project styles*/
    background-color: #C9E6F0;
    font-family: "lexend", sans-serif;
    color: #F96E2A;

    margin: 0; /* Ensure there's no default margin on the body */
    padding: 0; /* Remove any default padding */
}

h1 {
    margin: 1em auto;
}

h2,h3 {
    font-size: 130%;
    margin-bottom: 1em;
}

img {
    border: 2px solid #F96E2A;
    border-radius: 8%;
    margin: 1em;

    object-fit: cover;
    width: 90%;
    height: auto;
    text-align: center;
    max-width: 100%;
    max-height:100%;
}

li {
    margin-top: 1em;
    font-size: 110%;
}

p {
    font-size: 110%;
}


/*Body*/
/*header*/
header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100%;
    width: 100%;
    min-height: fit-content;

}

.landing-heading {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    min-height: fit-content;

}

header div {
    max-width: 50%;
    background-color: #78B3CE;
    color: #FBF8EF;
    justify-content: center;
} 

.landing-mockup>img{
    height: 80%;
    width: auto;
    object-fit: fill;
}

.landing-mockup {
    width: 100%;  
    height: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-welcome {
    vertical-align: middle;
    text-align: left;
    padding: 3.5%;
    flex-wrap: wrap;
}

.landing-mockup, .landing-welcome {
    border-bottom: none;
}


.landing-image {
    width: 100%;
    height: 50%;
    justify-content: center;
    object-fit: fill;
}


.landing-button {
    background-color: #F96E2A;
    color: #FBF8EF;
    padding: 5px 8px;
    border: 2px solid #FBF8EF;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    justify-content: center;
}

.landing-button:hover {
    background-color: #FBF8EF;
    color: #F96E2A;
    cursor: pointer;
}

/*main*/
main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

main div {
    max-width: 100%;
    justify-content: center;
}

.landing {
    max-width: 80%;
    height: auto;
    flex: 33.33%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em auto;
    
    
    /*flex-wrap: wrap;*/
}

section>div {
    border-bottom: 1px solid #F96E2A;
}

.text-paster {
    border-bottom: none;
}

.landing-text {
    max-width: fit-content;
}

.image-left {
    margin-right: 10em;
}

.image-right {
    margin-left:10em;
}

.link{
    margin: 20px auto;
    width: fit-content;
}

/*Footer*/
footer {
    width: 100%;
    height: 150px;
    background-color: #78B3CE;
}

/*Media Query*/

