/* Navbar Styling */
#navbar {
    background-color: var(--primary-color);
    padding: 1rem;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px var(--shadow-color);
    font-family: var(--font-family);
}

#navbar ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

#navbar ul li a {
    text-decoration: none;
    color: #04144e;
    font-size: var(--font-size-base);
    padding: 0.5rem 1rem;
    border-radius: 4px;
    background-color: var(--secondary-color);
    transition: background-color 0.3s, transform 0.2s;
}

#navbar ul li a:hover,
#navbar ul li a.active {
    background-color: var(--accent-color);
    color: var(--white-color);
    transform: scale(1.05);
}