#read-easy {
    display: flex;
    flex-wrap: wrap;
    position: fixed; /* Change to fixed to ensure it stays on top */
    top: 80px; /* Adjust top position */
    left: 0;
    right: 0;
    height: 120px;
    z-index: 10000; /* Ensure it has a higher z-index */
    background: #fff;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#magnification-panel {
    display: flex;
    align-items: center;
    background-color: #d7e4ea;
    padding: 0 10px;
    margin-left: 10px;
    width: 600px;
    height: 70px;
}

#magnifying-glass {
    display: flex;
    /* show the contents centered */
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    background-color: rgb(20, 1, 44);
    font-size: 30px;
    color: white;
    border-radius: 5px;
}

#magnifying-glass.active {
    background-color: #0073aa;
    color: white;
}

#magnifying-glass:hover {
    background-color: #0073aa;
    color: white;
}

#magninification-font-color-selector {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    height: 50px;
    margin-left: 10px;
    border: solid 1px var(--complementary-color);
    border-radius: 5px;
    font-size: large;
}

#magninification-background-color-selector {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    height: 50px;
    margin-left: 10px;
    border: solid 1px var(--complementary-color);
    border-radius: 5px;
    font-size: large;
}

#magnification-factor-selector {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    height: 50px;
    margin-left: 10px;
    border: solid 1px var(--complementary-color);
    border-radius: 5px;
    font-size: large;
}

/* optgroup is used for fontsize inside the select element of the magnification factor */
optgroup {
    font-size: 20px;
}

.magnify-cursor {
    cursor: url(/assets/images/magnifying-glass.png), auto;
}

#read-easy-button {
    display: inline-block;
    padding: 5px 10px;
    background: #0073aa;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px;
}

#url-field {
    display: block;
    width: 100%;
    height: 30px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    margin: 0 10px;
    border: solid 1px var(--complementary-color);
}

#text-to-speech-button {
    display: inline-block;
    padding: 10px 10px;
    background: black;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;  
    margin-top: 10px;  
    margin-left: 10px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    font-size: 25px;
}

#text-to-speech-button:hover {
    background-color: #0073aa;
}

#text-to-speech-button.active {
    background-color: #0073aa;
    color: white;
}

.active {
    background-color: #0073aa;
    color: white;
}
